body {
    background-image: url("background.jpg");
    width:100%;

    
}
.main{
    text-align: center;
    background-color: azure;
    margin-left: 10cm;
    margin-top:60px;
    margin-bottom:60px;
    margin-right:10cm;
    padding-bottom: 1cm;
    padding-top: 1.5cm;
    opacity: .7;

}
.secondmain{
    text-align: left;
    margin-left: 4cm;
    font-weight:bold;

}
.mark {
    font-weight:bold;
    font-size:30px;
    margin-top:20px;
}
