body {
	background-image: url("background.jpg");
  display:block;
	background-repeat:no-repeat;
	background-position:center;
	background-size: cover;
	
}
.container {
	background-color:rgb(250,250,250);
	width:600px;
	margin-left:8cm;
	margin-right: 15cm;
	padding:1px 60px;
	opacity:0.6;
	margin-top:15px;
	padding-left: 60px;
	
}
input[type=text] {
	background-color:white;
	color:black;

}
label {
	font-weight:bold;
}
#First{
	text-align: center;
	font-weight:bold;
}
.main {
	padding-left:2px;
	width:50 px;
}
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
button:hover {
  opacity:1;
}
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}
header {
	margin:0px -7px;
	background-color:pink;
	height:25px;
	text-align:center;
}